# Ignore virtual environment
venv/

# Ignore nohup output file
nohup.out

# Ignore weird second instance of this folder
hosting/suggestions/

# Ignore the birthdays.db to protect privacy
birthdays.db
