# Ignore virtual environment
venv/

# Ignore nohup output file
nohup.out

# Ignore weird second instance of this folder
hosting/suggestions/

# Ignore Command Log File
command_log.log

#Ignore this file
authorized_users.json

# Ignore the bash scripts
restart_bot.sh
update_bot.sh

# # Ignore the Database to protect sensitive data
# birthdays.db

# Ignore json file that contains slurs
complete_words_blacklist.json